.title {
  text-align: center;
}

.card {
  margin-left: 20px;
  width: 200px;
  height: 260px;
  background-color: #242f34;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;

  .text {
    text-align: center;
    list-style: none;
    line-height: 30px;
  }
  .Title {
    text-align: center;
  }

  a:link {
    color: white;
  } /* unvisited link */
  a:visited {
    color: white;
  } /* visited link */
  a:active {
    color: white;
  }
}
